﻿@inherits LayoutComponentBase
<div class="p-app">
    <div class="container-fluid p-full-head">
        <div class="container">
            <div class="p-head">
                <h1>Plingo |<small> Shift</small></h1>
            </div>
        </div>

        <div class="p-menu">
            <NavMenu />
        </div>

    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <SideBar />
                </div>

                <div class="col-9">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>
